<nav>
  <div class="logo-container">
    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/CaspianWaveFullLogo.jpeg?alt=media&token=eb22822c-bf30-4e58-9714-f78d739ca10f" alt="Logo">
   
  </div>

  <div class="nav-links">
    <a href="#home" class="nav-link">Home</a>
    <a href="#services" class="nav-link">Day Tours</a>
    <a href="#packages" class="nav-link">Packages</a>
    <a href="#customer-photos" class="nav-link">Memories</a>
    <a href="#about" class="nav-link">About Us</a>
    <a href="#contact" class="nav-link">Contact</a>
  </div>

  <div class="social-icons">
    <a href="https://www.instagram.com/caspianwave.travel?igsh=MTY0NGd0MGZ2aWcycA==" class="insta" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.tiktok.com/@caspianwave.travel?_r=1&_t=ZS-91mJcyxZ2G7" class="tiktok" target="_blank">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    <a href="https://wa.me/994775700711" class="whatsapp" target="_blank">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
  
  <!-- Hamburger button -->
  <button class="nav-hamburger" aria-label="Menu">
    <i class="fas fa-bars"></i>
  </button>
</nav>