<section class="section" id="services">
  <h2>Begin Your Adventure</h2>
  <div class="services">

     <a href="tour-details.html?tour=baku-city" class="card-link">
         
         <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/baku.jpg?alt=media&token=96ab7d71-d712-43fa-a8ab-52313c39caee');">
             <div class="card-overlay">
                 <h3>Baku City Tour</h3>
                 <div class="price">$50</div>
                 <div class="duration">Full Day Tour</div>
                </div>
            </div>
        </a>

    <a href="tour-details.html?tour=gobustan" class="card-link">


        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/gobustan-mud-volcano.jpg?alt=media&token=3012552c-c376-4635-9950-3af1e88aab95');">
            <div class="card-overlay">
                <h3>Gobustan & Mud Volcano</h3>
                <div class="price">$80</div>
                <div class="duration">6-8 Hours</div>
            </div>
        </div>
    </a>

    <a href="tour-details.html?tour=shahdag" class="card-link">

        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/shahdagg.jpg?alt=media&token=1a89deb1-2a1e-4344-956b-5b9041ae12c9');">
            <div class="card-overlay">
                <h3>Shahdag Tour</h3>
                <div class="price">$70</div>
                <div class="duration">Full Day Tour</div>
            </div>
        </div>
    </a>

    <a href="tour-details.html?tour=gabala" class="card-link">
  
        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/gbl.jpg?alt=media&token=739490fe-e3c1-43f9-ba0a-f8a900b99350');">
            <div class="card-overlay">
                <h3>Gabala Tour</h3>
                <div class="price">$70</div>
                <div class="duration">Full Day Tour</div>
            </div>
        </div>
    </a>

    <a href="tour-details.html?tour=absheron" class="card-link">


        
        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/absheron.jpg?alt=media&token=bb727f41-e24a-47ce-b0bc-962ebb9fd160');">
            <div class="card-overlay">
                <h3>Absheron Tour</h3>
                <div class="price">$70</div>
                <div class="duration">4-5 Hours</div>
            </div>
        </div>
    </a>

    <a href="tour-details.html?tour=shamaki" class="card-link">


        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/shamaki.jpg?alt=media&token=810d0a4c-00bc-4bc4-a245-7974395a3ad6');">
            <div class="card-overlay">
                <h3>Shamaki Tour</h3>
                <div class="price">$70</div>
                <div class="duration">Full Day Tour</div>
            </div>
        </div>
    </a>
    
    <a href="tour-details.html?tour=sheki" class="card-link">

        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/shaki.jpg?alt=media&token=5612b775-7d53-4869-8f83-912606f91b09');">
            <div class="card-overlay">
                <h3>Sheki Tour</h3>
                <div class="price">$70</div>
                <div class="duration">Full Day Tour</div>
            </div>
        </div>
    </a>

    <a href="tour-details.html?tour=hotels" class="card-link">

        
        <div class="card" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/caspianwavetravel-b9aa4.firebasestorage.app/o/hotel.jpg?alt=media&token=58a628f7-a4f5-4c2e-9374-0cf615217a5c');">
            <div class="card-overlay">
                <h3>Hotels</h3>
                <div class="price">From $70</div>
                <div class="duration">Various Options</div>
            </div>
        </div>
    </a>
  </div>
</section>