/* Section Headings */
.section h2 {
    text-align: center;
    color: rgb(0, 38, 77);
    font-size: 2.2rem;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

.section h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, rgb(0, 149, 218), rgb(0, 191, 255));
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.section-subtitle {
    text-align: center;
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 50px;
    font-style: italic;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}